html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,menu,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul,menu{list-style:none}caption,th{text-align:left}h1,h3,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000}
body{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #1f2328;
}
a{
    text-decoration: none;
    color: #757575;
}
a:hover{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
header{
    margin-bottom: 20px;
}
.container{
    margin-bottom: 80px;
}
.inner{
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.mod-head{
    background: linear-gradient(to right, #1f8dd6 0, #1f8bd3 100%);
}
.mod-head .bd{
    display: flex;
    padding: 10px 0;
    line-height: 40px;
}
.mod-head .logo{
    width: 300px;
    font-size: 28px;
    color: #fff;
}
.mod-head .logo a{
    color: #fff;
}
.mod-head .logo h1{
    font-weight: bold;
}
.mod-head .logo span,.mod-head .logo img{
    vertical-align: middle;
}
.mod-head .logo h1 .is{
    color: #fc0;
}
.mod-head menu{
    flex: 1;
    display: flex;
    min-width: 0;
    line-height: 40px;
}
.mod-head menu li a{
    position: relative;
    display: block;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    color: rgba(255,255,255,0.8);
}
.mod-head menu li.active a{
    color: #fff;
}
.mod-head menu li.active a::after{
    position: absolute;
    left: 50%;
    bottom: 3px;
    content:'';
    width: 12px;
    height: 3px;
    margin-left: -6px;
    background: #fff;
    border-radius: 2px;
}
.mod-head .buttons{
    text-align: right;
}
.mod-head .btn{
    display: inline-block;
    min-width: 56px;
    height: 34px;
    background: rgba(255,255,255,0.1);
    padding: 0 12px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 6px;
    line-height: 34px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    overflow: hidden;
    transition: color .2s,opacity .2s;
    font-family: Tahoma,Arial, Helvetica,"Microsoft YaHei";
    outline: none;
    opacity: 0.8;
}
.mod-head .btn:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity .2s;
    border-radius: 6px;
    overflow: hidden;
    pointer-events: none;
}
.mod-head .btn span,.mod-head .btn svg{
    vertical-align: middle;
}
.mod-head .btn svg,.mod-head .btn svg+span{
    position: relative;
    top: -1px;
}
.mod-head .btn:hover {
    opacity: 1;
}
.mod-head .btn:hover:after {
    opacity: .02;
}

ins{
    margin-bottom: 20px;
}

.mod-fixedbar .bd {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
}
.mod-fixedbar .bd li{
    margin-bottom: 2px;
}
.mod-fixedbar .bd a{
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    background: rgba(255,255,255,0.8);
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    line-height: 48px;
    text-align: center;
}
.mod-fixedbar .bd .popup{
    display: none;
    position: absolute;
    right: 50px;
    bottom: 0;
    z-index: 99;
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.05);
}
.mod-fixedbar .bd a:hover{
    background: rgba(255,255,255,0.9);
}
.mod-fixedbar .bd a:hover .popup{
    display: block;
}

.mod-foot{
    background: #182432;
}
.mod-foot .bd{
    padding: 25px 0;
    line-height: 24px;
    text-align: center;
    color: rgba(255,255,255,0.6);
}
.mod-foot .bd a{
    color: rgba(255,255,255,0.6);
}

@media screen and (max-width: 800px) {
    
    .mod-head .bd{
        position: relative;
        padding: 5px 0 0;
        flex-direction: column;
    }
    .mod-head .logo{
        width: auto;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .mod-head .logo img{
        width: 24px;
        height: 24px;
    }
    .mod-head menu{
        margin: 0 -10px;
        background: rgba(255,255,255,0.05);
    }
    .mod-head menu li{
        flex: 1;
    }
    .mod-head menu li a{
        padding: 0 5px;
        font-size: 14px;
    }
    .mod-head .buttons{
        position: absolute;
        top: 5px;
        right: 0;
    }

    .mod-fixedbar .bd{
        right: 5px;
        bottom: 5px;
    }
    .mod-fixedbar .bd a{
        width: 36px;
        height: 36px;
        line-height: 36px;
    }
    .mod-fixedbar .bd a img{
        width: 20px;
        height: 20px;
    }
}