.mod-panel{
    margin-bottom: 20px;
}
.mod-panel .hd{
    padding: 0 10px;
    line-height: 40px;
}
.mod-panel .hd .title{
    font-size: 20px;
    font-weight: bold;
}
.mod-panel .bd h3{
    position: relative;
    padding: 0 20px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
}
.mod-panel .bd h3::before{
    position: absolute;
    left: 3px;
    top: 50%;
    content: '';
    width: 5px;
    height: 20px;
    margin-top: -10px;
    background: #1f8dd6;
    border-radius: 3px;
}
.mod-panel .bd .table-outer{
    margin-bottom: 20px;
}
.mod-panel .bd table{
    width: 100%;
    table-layout: fixed;
    background: #fff;
}
.mod-panel .bd thead{
    position: sticky;
    top: 0;
    background: #f6f8fa;
}
.mod-panel .bd thead tr{
    border-bottom: 1px solid #e3e8eb;
}
.mod-panel .bd th{
    padding: 5px 15px;
    border: 1px solid #e3e8eb;
    line-height: 24px;
    font-weight: bold;
}
.mod-panel .bd td{
    padding: 10px 15px;
    border: 1px solid #e3e8eb;
    line-height: 20px;
}
.mod-panel .text-green{
    color: #4bae4f;
}
.mod-panel .text-red{
    color: #f56954;
}
.mod-panel .text-orange{
    color: #fc9000;
}
.mod-panel .text-gray{
    color: #989ca3;
}

.mod-intro{
    margin-bottom: 20px;
    padding: 20px;
    background: #f9fafb;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
}
.mod-intro .hd h3{
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: bold;
}
.mod-intro .bd{
    line-height: 24px;
}
.mod-intro .bd h3{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}
.mod-intro .bd p{
    margin-bottom: 16px;
    color: #666;
}
.mod-intro .bd strong{
    position: relative;
    padding: 0 5px;
    font-weight: bold;
    color: #444;
}
.mod-intro .bd strong::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content:'';
    width: 100%;
    height: 6px;
    background: #1f8dd633;
    border-radius: 2px;
}
.mod-intro .bd p:last-child{
    margin-bottom: 0;
}
.mod-intro .bd .picture{
    margin-bottom: 30px;
    text-align: center;
}
.mod-intro .bd .picture img{
    max-width: 100%;
    height: auto;
    border: 1px solid #f0f0f0;
}
.mod-intro .bd .picture p{
    text-align: center;
    font-style: italic;
}
.mod-intro .bd .table-inner{
    margin-bottom: 20px;
    overflow-x: auto;
}
.mod-intro .bd table{
    width: 100%;
    background: #fff;
}
.mod-intro .bd thead{
    background: #e3e8eb;
}
.mod-intro .bd th{
    padding: 5px 15px;
    line-height: 24px;
    font-weight: bold;
}
.mod-intro .bd td{
    padding: 10px 15px;
    border: 1px solid #e3e8eb;
    line-height: 20px;
}

@media screen and (max-width: 800px) {
    .mod-panel .bd .search{
        flex-direction: column;
    }
    .mod-panel .bd button{
        width: auto;
        height: 36px;
        margin: 5px 0;;
    }
    .mod-panel .bd input[type="search"]{
        padding: 8px 12px;
    }
    .mod-panel .bd .table-inner{
        overflow-x: auto;
    }
    .mod-panel .bd table{
        width: auto;
        word-break: break-all;
    }
    .mod-panel .bd th{
        white-space: nowrap;
    }
    .mod-panel .bd td{
        width: auto;
        padding: 5px 10px;
    }

    .mod-intro{
        padding: 15px;
    }
    .mod-intro .hd h3{
        margin-bottom: 8px;
        font-size: 20px;
    }
    .mod-intro .bd{
        line-height: 20px;
    }
    .mod-intro .bd h3{
        margin-bottom: 8px;
        font-size: 18px;
    }
    .mod-intro .bd p{
        margin-bottom: 12px;
    }
    .mod-intro .bd table{
        width: auto;
        white-space: nowrap;
    }
    .mod-intro .bd td{
        padding: 5px 10px;
    }
}